* {
    margin: 0;
    padding: 0;

}

h1 {
    text-align: center;
    
}

img {
    height: 360px;
    width: 180px;    
    padding-left: 70px;
    padding-top: 10px;
}

.container>div {
    float: left;

}